# Node
physiocare-ai/node_modules/

# Next.js
physiocare-ai/.next/
physiocare-ai/out/

# Env files
physiocare-ai/.env
physiocare-ai/.env.*

# Logs
physiocare-ai/npm-debug.log*
physiocare-ai/yarn-debug.log*
physiocare-ai/yarn-error.log*

# OS
.DS_Store
.env
